/* Brand Colors Colors */
body {
  background: #34373c;
}

a {
  color: #abc6be;
}

a:hover {
  color: #df7027;
}

@keyframes shade {
  0% {background-color: rgba(50,50,50,0);}
  50% {background-color: rgb(50,50,50,0);}
  100% {background-color: rgba(50,50,50,.35);}
}

.shaded {
  height: 100vh;
  width: calc(100vw - 440px);
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(50,50,50,.35);
  z-index: 99;
  animation-name: shade;
  animation-duration: .75s;
  margin-left: 440px;
}

.fixed {
  position: fixed;
}

.contextual-region .contextual .contextual-links a, .contextual-region .contextual .contextual-links a:hover {
  color: #000 !important;
  font-weight: normal !important;
  font-size: 14px !important;
}

.cta-button {
  background: #34373c;
  padding: 3% 10%;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  border: 5px #34373c solid;
  display: inline-block;
}

.cta-button:hover {
  color: #555;
}

.cta-button.primary {
  background: #df7027;
  border: 5px #df7027 solid;
  padding: 3% 10%;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

.cta-button.primary:hover {
  color: #ddd;
  background: #34373c;
  border: 5px #34373c solid;
}

.cta-button.secondary {
  background: none;
  border: 5px #608995 solid;
  color: #608995;
}

.cta-button.secondary:hover {
  color: #34373c;
  border: 5px #34373c solid;
}

.webform-button--submit {
  background: #df7027;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

/*=============== Side Menu ===============*/
.side-menu {
  height: 100%;
  width: 440px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(51,51,51);
  margin-left: -440px;
  transition: .25s;
}

.side-menu .side-menu-title {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(36,36,36);
}

.side-menu .side-menu-title span {
  color: rgb(133,133,133);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu a {
  text-decoration: none;
  font-size: 16px;
  color: rgb(225,225,225);
  display: block;
  -webkit-font-smoothing: antialiased;
  padding: 9.5px 10px 9.5px 0px;
  margin-left: 20px;
  border-bottom: 1px solid rgb(36,36,36);
}

.open {
  margin-left: 0;
}

.main-page {
  transition: .25s;
  width: 100vw;
  overflow: hidden;
}

.slide {
  margin-left: 440px;
  height: 100vh;
  overflow: hidden;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

/*============== Top Top Nav ==============*/
#top-top-nav {
  background: #608995;
  z-index: 100;
}

#superfish-top-top-nav {
  display: flex;
}

.display-none {
  display: none;
}

.visually-hidden {
  display: none;
}

#superfish-top-top-nav-toggle {
  cursor: pointer;
  user-select: none; /* standard syntax (do NOT highlight text) */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

#top-top-nav .container div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#top-top-nav #block-toptopnav {
  color: #fafafa;
  width: auto;
  text-align: right;
}

#top-top-nav #block-toptopnav a,
#top-top-nav #block-toptopnav button {
  color: #fafafa;
  padding: 5px 20px;
  margin: 3px 0;
  border-right: 1px solid #abc6be;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color,background-color;
  transition-property: color,background-color;
}

#top-top-nav #block-toptopnav button {
  background-color: transparent;
}

#top-top-nav #block-toptopnav button:focus {
  outline: none;
}

#top-top-nav #block-toptopnav a:hover,
#top-top-nav #block-toptopnav button:hover {
  color: #000;
}

#top-top-nav #block-toptopnav .sf-accordion-toggle {
  display: none;
}

#top-top-nav #block-toptopnav ul ul {
  text-align: left;
  background: rgba(41, 41, 41, 0.2);
  top: 32px;
}

#top-top-nav #block-toptopnav ul ul a {
  color: #abc6be;
  padding: 5px 20px;
  margin: 3px 0;
  border: none;
}

#top-top-nav #block-toptopnav ul ul a:hover {
  color: #608995;
}

#top-top-nav #block-headerphone {
  color: #fafafa;
  text-align: right;
}

#top-top-nav #block-headerphone a {
  color: #fafafa;
  padding: 5px 0% 5px 10%;
  min-width: 140px;
}

/*============== Header ==============*/
#header {
  background: #abc6be;
  max-height: 100px;
  z-index: 50;
  position: relative;
}

#header .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5% 0;
}

#header .container #header-region {
  display: block;
}

.site-logo img {
  max-height: 80px;
}

#header #service-menu .container {
  padding: 0.25% 0;
  margin-left: 5%;
  width: 100%;
}

#header #service-menu .container #block-horizontalmenu {
  position: relative;
}

#header #service-menu .container #block-horizontalmenu #horizontal-menu {
  line-height: 1.0;
  z-index: 497;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

#header #service-menu #horizontal-menu ul .sf-show {
  top: 0;
  left: 12em;
}

#header #service-menu .container #block-horizontalmenu #horizontal-menu .menu-item {
  float: left;
  position: relative;
  z-index: 498;
  margin: 0;
  padding: 0;
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent;
  line-height: 1.0;
}

#header #horizontal-menu .menu-item > .menu {
  left: 0;
  top: -9999px;
}

#header #horizontal-menu .menu-item > .sf-hidden {
  background: transparent !important;
  border: 0 none !important;
  clip: rect(1px,1px,1px,1px);
  position: absolute !important;
  height: 1px !important;
  margin: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  width: 1px !important;
}

#header #horizontal-menu .menu-item > .sf-show {
  background-color: #fafafa;
  top: calc(3.35em + 1px);
  left: 0;
  z-index: 499;
  position: absolute;
  width: 12em;
  margin: 0;
  padding: 0;
}

#header #service-menu ul li a {
  color: #fafafa;
  font-size: 18px;
  font-weight: bold;
  display: block;
  padding: 1em 1.5em;
  position: relative;
  padding-right: 3em;
  margin: 0;
  text-decoration: none;
  transition: color 150ms ease;
  background-color: transparent;
  cursor: pointer;
  list-style: none;
  text-align: -webkit-match-parent;
  line-height: 1.0;
}

#header #service-menu ul li a:hover {
  background: rgba(41, 41, 41, 0.4);
}

#header #service-menu ul li a .sf-sub-indicator {
  height: 1em;
  line-height: 9999px;
  opacity: 0.75;
  overflow: hidden;
  position: absolute;
  right: 0.75em;
  speak: none;
  text-indent: -9999px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1em;
  margin: 0;
  padding: 0;
}

#header #service-menu ul li a .sf-sub-indicator::after {
  content: "▼";
  left: 0px;
  line-height: 1;
  position: absolute;
  text-indent: 0px;
  top: 0px;
}

#header #service-menu #horizontal-menu li ul li .sf-sub-indicator::after {
  content: "►";
}

#header #service-menu > li ul {
  background: #fff;
  top: 63px;
}

#header #service-menu li ul li {
  width: 100%;
}

#header #service-menu li ul > li a {
  color: #abc6be;
  padding: 4% 2%;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 1px;
  border-bottom: 1px solid #abc6be;
  border-left: solid 4px #abc6be;
}

#header #service-menu li ul > li:last-of-type a {
    margin-bottom: 0;
}

#header #service-menu li ul li a:hover {
  color: #34373c;
  background: rgba(52, 55, 60, 0.2);
}

#header #service-menu li ul li ul {
  top: 0;
}

ul.sf-menu li:hover > ul,
ul.sf-menu li.sfHover > ul {
  left: 0;
  top: calc(3.35em + 1px); /* sub nav menu pinned to bottom of button */
  background-color: rgb(255,255,255);
}

#header #block-headerphone-2 {
  display: none;
  visibility: hidden;
}

#block-responsivemenumobileicon {
  display: none;
}

.responsive-menu-block-wrapper {
  display: none;
}

.mm-page,
.mm-wrapper_background body {
  background-color: #ffffff;
}

.mm-wrapper_opening .toolbar-tray-open.toolbar-fixed.toolbar-vertical,
.mm-opened .toolbar-tray-open.toolbar-fixed.toolbar-vertical {
  margin-left: 0;
}

.mm-wrapper_opening .toolbar-tray-open.toolbar-fixed.toolbar-vertical .mm-page,
.mm-opened .toolbar-tray-open.toolbar-fixed.toolbar-vertical .mm-page {
  padding-left: 240px;
  padding-left: 15rem;
}

.off-canvas-wrapper {
  display: block;
}

.no-js .off-canvas-wrapper {
  display: none;
}

.responsive-menu-toggle {
  display: inline-block;
  height: 55px;
  width: 55px;
  background: rgba(255, 255, 255, 0.5);
  border: #333132 1px solid;
  border-radius: 5px;
}

.responsive-menu-toggle-icon {
  background: transparent;
  box-sizing: border-box;
  display: block;
  width: 55px;
  height: 55px;
  z-index: 4;
  margin-top: 0;
  position: relative;
}

.responsive-menu-toggle-icon:hover {
  background: transparent;
}

.responsive-menu-toggle-icon:focus {
  outline: none;
  background: transparent;
}

.no-js .responsive-menu-toggle-icon {
  display: none;
}

.responsive-menu-toggle-icon span.label {
  font-weight: 500;
  display: block;
  position: absolute;
  font-size: 15px;
  text-transform: uppercase;
  bottom: 3px;
  left: 0px;
  color: #fff;
  text-align: center;
  width: 100%;
  margin-bottom: 4px;
  letter-spacing: .3px;
}

.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
  background: #fff;
  content: '';
  display: block;
  width: 20px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 16px;
  border-radius: 2px;
}

.responsive-menu-toggle-icon:before {
  top: 8px;
}

.responsive-menu-toggle-icon span.icon {
  top: 14px;
}

.responsive-menu-toggle-icon:after {
  top: 20px;
}

.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
  transition: none 0.4s ease-out 0.1s;
  transition-property: -webkit-transform, top, bottom, left, opacity;
  transition-property: transform, top, bottom, left, opacity;
}

.mm-wrapper_opening .responsive-menu-toggle-icon:before,
.mm-wrapper_opening .responsive-menu-toggle-icon:after {
  top: 14px;
}

.mm-wrapper_opening .responsive-menu-toggle-icon span.icon {
  left: -25px;
  opacity: 0;
}

.mm-wrapper_opening .responsive-menu-toggle-icon:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mm-wrapper_opening .responsive-menu-toggle-icon:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#mm-blocker {
  background: rgba(0, 0, 0, 0);
}

.mm-wrapper_opening #mm-blocker {
  background: rgba(0, 0, 0, 0.2);
  transition: background 1s ease 0.3s;
}

.mm-wrapper_opening #page {
  border-left: 1px solid #ccc;
}

.mm-panel a {
  border-bottom: none;
}

ul.menu.mm-listview a.is-active {
  color: inherit;
}

.mm-panel a:hover {
  border: none;
}

ul.menu.mm-listview {
  padding-left: 0;
}

/*============== Home Hero ==============*/
#page-hero {
  background: #34373c url(../../files/images/tht2-hero-bg.jpg);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.path-frontpage #page-hero {
  height: 70vh;
  justify-content: center;
}

#page-hero #block-hero {
  background: rgba(250, 250, 250, 0.8);
  width: 75%;
  padding: 3.5%;
  position: relative;
  margin: 0 auto;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#page-hero #block-hero .button-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 12%;
  padding: 3% 0 0 0;
}

#page-hero #block-hero .button-wrapper a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42%;
}

/*============== flex Column ==============*/
#main-top .container {
  padding-bottom: 3%;
}

#main-top .container #block-flex-callout .basic__body {
  display: flex;
  justify-content: flex-start;
}

#main-top .container #block-flex-callout .basic__body .flex-column {
  display: block;
  background: rgba(41, 41, 41, 0.2);
  color: #608995;
  text-align: center;
  padding: 2% 1% 2% 1%;
  margin: 2% 0.5% 2% 0.5%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
  flex-grow: 1;
  flex-basis: 0;
}

#main-top .container #block-flex-callout .basic__body .flex-column:hover {
  background: rgba(52, 55, 60, 0.4);
}

#main-top .container #block-flex-callout .basic__body .flex-column .icon-wrapper {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  background: #abc6be;
  border: solid 3px #34373c;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-top .container #block-flex-callout .basic__body .flex-column svg {
  height: 60%;
  width: 60%;
}

#main-top .container #block-flex-callout .basic__body .flex-column h4 {
  font-size: 16px;
  color: #34373c;
  margin: 4% 0 0 0;
}

#main-top .container #block-flex-callout .basic__body .flex-column p {
  font-size: 13px;
  line-height: 1.9em;
  padding-bottom: 5%;
}

#main-top .container #block-flex-callout .basic__body .flex-column .cta-button {
  background: none;
  font-size: 15px;
  font-weight: bold;
  border: 3px #34373c solid;
  color: #34373c;
}

.fas, .far {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70%;
  width: 70%;
}

.fa-phone {
  background-image: url(../../files/images/phone.png);
}

.fa-comments {
  background-image: url(../../files/images/phone.png);
}

.fa-chart-bar {
  background-image: url(../../files/images/phone.png);
}

.fa-certificate {
  background-image: url(../../files/images/phone.png);
}

.fa-smile {
  background-image: url(../../files/images/phone.png);
}

/*============== Content ==============*/
#main {
  padding: 2% 0;
  background: #fff;
}

#main #content-area ul,
#main #content-area ol {
  list-style-type: initial;
  margin: 0 0 1em 2em;
  padding: initial;
}

.page__page-hero {
  margin: 0 0 10px 0;
}

#content-wrapper {
  display: flex;
}

#content, .title {
  width: calc(66.66667% - 33.33333px);
  float: left;
  margin: 0 0 0 20px;
}

/*============== Images ==============*/
.floatr-40 {
	float: right;
	width: 40%;
	margin-left: 10px;
}
.floatl-40 {
	float: left;
	width: 40%;
	margin-right: 10px;
}
.floatr-30 {
	float: right;
	width: 30%;
	margin-left: 10px;
}
.floatl-30 {
	float: left;
	width: 30%;
	margin-right: 10px;
}
.floatl {
  float: left;
  margin: 0 10px 5px 0;
}

/*============== Right Column CTA ==============*/
#block-rightcolumncta,
#block-rightcolumncta--3 {
  background: rgb(201, 201, 202);
  padding-bottom: 3%;
  border-radius: 5px;
  border-top: #608995 solid 10px;
  border-bottom: #abc6be solid 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

#block-rightcolumncta h3,
#block-rightcolumncta--3 h3 {
  color: #608995;
  padding: 2% 4%;
  margin: 0;
}

#block-rightcolumncta p,
#block-rightcolumncta--3 p {
  padding: 1% 4%;
  font-weight: bold;
}

#block-rightcolumncta .basic__webform,
#block-rightcolumncta--3 .basic__webform {
  padding: 1% 4%;
}

#edit-questions-comments--3 {
  height: 138px;
}

#sidebar-second {
  background-color: transparent;
}

/*============== News ==============*/
.page-news .views-row {
  background: rgba(41, 41, 41, 0.2);
  margin: 2% 0;
}

.page-news .views-row a {
  color: #abc6be;
}

.page-news .views-row .views-field-title h3 {
  background: #000;
  padding: 1%;
  margin: 0;
}

.page-news .views-row .views-field-body {
  padding: 1%;
}

/*============== Footer ==============*/
#footer {
  background: #34373c;
  color: #fafafa;
  display: block;
}

#footer #block-footer .basic__body {
  display: flex;
  justify-content: space-between;
  padding: 2% 0;
}

#footer #block-footer .basic__body ul {
  display: block;
  flex-grow: 1;
  flex-basis: 0;
}

#footer #block-footer .basic__body ul li a {
  color: #e6e7e8;
}

#footer #block-copyright {
  text-align: center;
  padding: 1%;
}

#block-copyright--2 {
  text-align: center;
  padding: 1%;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 10px;
  }
  #top-top-nav #block-toptopnav a,
  #top-top-nav #block-toptopnav button {
    padding: 5px 10px;
  }
  #header #service-menu li a {
    font-size: 16px;
  }
  #block-rightcolumncta p, #block-rightcolumncta--3 p {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .responsive-menu-block-wrapper {
    display: block;
  }
  #superfish-top-top-nav-accordion {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #top-top-nav .container div,
  #top-top-nav #block-toptopnav {
    width: 100%;
    display: block;
  }
  #top-top-nav .container {
    padding: 0 0px;
  }
  #top-top-nav #block-toptopnav .sf-accordion-toggle {
    display: block;
  }
  #superfish-top-top-nav {
    display: none;
  }
  #top-top-nav #block-toptopnav ul {
    background: #608995;
  }
  #top-top-nav #block-toptopnav a,
  #top-top-nav #block-toptopnav button {
    width: 100%;
    text-align: center;
    border-right: none;
    display: block;
    margin: 0;
    padding: 2%;
  }
  #header .container #header-region {
    width: 100%;
  }
  #header .container #header-region > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 0;
    margin: 0 3%;
    width: 94%;
  }
  #block-responsivemenumobileicon {
    display: block;
  }
  #top-top-nav #block-headerphone {
    display: none;
    visibility: hidden;
  }
  #header #block-headerphone-2 {
    display: block;
    visibility: initial;
  }
  #header #block-headerphone-2 a {
    display: inline-block;
    height: 55px;
    width: 55px;
    background: rgba(255, 255, 255, 0.5) url("../../files/images/phone.svg") center center;
    border: #34373c 1px solid;
    border-radius: 5px;
    text-indent: -9999px;
  }
  #page-hero #block-hero {
    padding: 3.5% 2.5% 3.5% 2.5%;
  }
  #page-hero #block-hero h2 {
    font-size: 1.5em;
  }
  #page-hero #block-hero p {
    font-size: 14px;
  }
  #main-top .container #block-flex-callout .basic__body {
    display: block;
  }
  #main-top .container #block-flex-callout .basic__body .five-column {
    width: 100%;
  }
  #content-wrapper {
    margin: 0;
    width: 100%;
    flex-direction: column;
  }
  #content {
    width: auto;
  }
}

@media screen and (min-width: 720px) {
  #sidebar-second {
    width: auto;
  }
}

@media screen and (max-width: 480px) {
  .cta-button {
    padding: 1% 6%;
    font-size: 13px;
    border-width: 3px !important;
  }
  .site-logo img {
    max-height: 80px;
  }
  #page-hero #block-hero {
    padding: 3.5% 2.5% 3.5% 2.5%;
  }
  #page-hero #block-hero h2 {
    font-size: 1.1em;
  }
  #page-hero #block-hero p {
    font-size: 12px;
  }
  #page-hero #block-hero .ribbon {
    width: 150px;
  }
  #page-hero #block-hero .button-wrapper {
    margin: 0;
  }
  #main-top .container #block-flex-callout .basic__body .flex-column {
    margin: 5% 1.5%;
  }
  #main-top .container #block-flex-callout .basic__body .flex-column .icon-wrapper {
    padding: 6%;
  }
  #footer #block-footer .basic__body {
    display: block !important;
  }
  #footer #block-footer .basic__body ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=theme.css.map */
